<div class="container">
    <div class="col-xs-12">
        <ol>
            <li>Add A button which says 'Display details'</li>
            <li>Add a paragraph with any content of your choice (e.g 'Secret password = tuna')</li>
            <li>Toggle the displaying of that paragraph with the button created in the first step</li>
            <li>Log all button clicks in an array and output that array below the secret paragraph 
                (maybe log a timestamp or simply an incrementing number)</li>
            <li>Starting at the 5th log item, give all future log items a blue background
                (via ngStyle) and white color (ngClass)
            </li>
        </ol>
        <hr>
        <button class="btn btn-success" (click)="displaySimpleParagraph()">{{ buttonName }}</button>
        <p [innerText]="simpleParagraph" *ngIf="buttonClick"></p>
        <div *ngFor="let time of totalClick; let i = index"
            [ngStyle]="{backgroundColor: i >= 4 ? 'blue': 'transparent'}"
            [ngClass]="{fifthItem : i >= 4}">{{ time }}</div>
    </div>
</div>